[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"
django-compressor-toolkit = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-bootstrap4 = "*"

[requires]
python_version = "3.6"
