<!doctype html>
<html>
  <head>
    {% load compress %}
    {% load bootstrap4 %}
    {% compress css %}
      {% bootstrap_css %}
      <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    {% endcompress %}
    {% compress js %}
      {% bootstrap_jquery %}
      {% bootstrap_javascript %}
      <script type="module" src="/static/javascripts/index.js"></script>
    {% endcompress %}
  </head>
  <body>
    {% block header %}{% endblock %}
    <div class="container">
      {% block container %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
      {% endblock %}
    </div>
  </body>
</html>
